<launch> 
   
   <!-- Start ROSBridge WebSocket -->
    <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch"/>


    <node pkg="rosserial_python" type="serial_node.py" name="serial_node"
          output="screen">
        <param name="port" value="/dev/ttyUSB0"/>
        <param name="baud" value="115200"/>
    </node>

</launch>