<launch>
    <!-- Start ROSBridge WebSocket -->
    <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch"/>

    <!-- Start ROSSerial for Arduino -->
    <node pkg="rosserial_python" type="serial_node.py" name="serial_node"
          output="screen">
        <param name="port" value="/dev/ttyUSB0"/>
        <param name="baud" value="57600"/>
    </node>

    <!-- Start Image Transport Republisher (Convert RAW to Compressed) -->
    <node pkg="image_transport" type="republish" name="image_republisher" output="screen">
        <remap from="in" to="/cv_camera/image_raw"/>
        <remap from="out" to="/cv_camera/image_raw/compressed"/>
    </node>
</launch>