<launch> 
   
    <!-- Start ROSBridge WebSocket -->
    <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch"/>

    <!-- ROSSerial สำหรับ Mega ที่ /dev/ttyUSB0 -->
    <node pkg="rosserial_python" type="serial_node.py" name="serial_node_mega"
          output="screen">
        <param name="port" value="/dev/arduino_mega"/>
        <param name="baud" value="250000"/>
    </node>


    <!-- ROSSerial สำหรับ Nano ที่ /dev/ttyUSB1 -->
    <node pkg="rosserial_python" type="serial_node.py" name="serial_node_nano"
          output="screen">
        <param name="port" value="/dev/arduino_nano"/>
        <param name="baud" value="57600"/>
    </node>

     <node pkg="ptR1_navigation" type="mecanum_velocity_node.py" name="mecanum_velocity_node" output="screen">
    <param name="wheel_radius" value="0.04" />
    <param name="l1" value="0.1075" />
    <param name="l2" value="0.0825" />
    <param name="ppr" value="660" />
    <param name="update_dt" value="0.04" />

    <!-- Scale จากค่าที่วัดมา -->
    <param name="scale_FL" value="1.0000" />
    <param name="scale_FR" value="0.9993" />
    <param name="scale_RL" value="0.9988" />
    <param name="scale_RR" value="0.9974" />

    <param name="encoder1_topic" value="encoder1" />
    <param name="encoder2_topic" value="encoder2" />
    <param name="encoder3_topic" value="encoder3" />
    <param name="encoder4_topic" value="encoder4" />
  </node>


</launch>
