<launch>

  <!-- 🧭 TF Broadcaster แบบมี timestamp สด -->
  <node name="custom_static_tf" pkg="test_package" type="dynamic_static_tf.py" output="screen"/>

  <!-- 🔌 ROSSerial (ส่ง IMU, Mag, Odom) -->
  <node name="transfer_data_node" pkg="test_package" type="transfer_data.py" output="screen">
    <param name="param1" value="default_value"/>
  </node>

  <!-- 🤖 EKF Localization -->
  <node pkg="robot_localization" type="ekf_localization_node" name="ekf_localization" output="screen">
    <param name="use_sim_time" value="false"/>
    <param name="odom_frame" value="odom"/>
    <param name="base_link_frame" value="base_link"/>
    <param name="world_frame" value="odom"/>
    <param name="publish_tf" value="true"/>
    <rosparam command="load" file="$(find ptR1_navigation)/config/ekf_localization.yaml"/>
  </node>

</launch>
