<launch>
  <node pkg="move_base" type="move_base" name="move_base" output="screen">

    <rosparam file="$(find ptR1_navigation)/config/move_base_params.yaml" command="load" />

    <rosparam file="$(find ptR1_navigation)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find ptR1_navigation)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
    
    <rosparam file="$(find ptR1_navigation)/config/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find ptR1_navigation)/config/global_costmap_params.yaml" command="load" />

    <rosparam file="$(find ptR1_navigation)/config/dwa_local_planner_params.yaml" command="load" />

    </node>
</launch>