<launch>
  <include file="$(find ptR1_navigation)/launch/G2_lidar.launch" />

  <node name="slam_toolbox" pkg="slam_toolbox" type="async_slam_toolbox_node" output="screen">
    
    <rosparam file="$(find ptR1_navigation)/config/slam_config.yaml" command="load" />

    <remap from="scan" to="/scan"/>
    <remap from="map" to="/map"/>

  </node>
</launch>